
.whole {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 80px 45px;
  height: 799px;
}

.head {

  font-size: 20px;
  font-weight: 500;
  margin-top: 68px;
  margin-bottom: 53px;
  color: #666666;
  display: flex;
}

.container {
  display: flex;
}

