# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ projectDetail files
out
gen
.idea/
goldersgreen.iml

# ignore all .pyc files
*.pyc
/pyserver/tensorflow_serving/model_servers/

# ignore virtual env files
/venv/

# ignore user directory
pyserver/user_directory/

/pyserver/jupyterhub/jupyterhub_cookie_secret
/jupyterhub/jupyterhub__.sqlite
