
.abs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .down {
    display: flex;
    justify-content: space-between;
  }

}

.tableback {
  background-color: white;
}

.myheader {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
