:global {
  .layer-card {
    .ant-form-item {
      margin-bottom: 10px;
    }
  }

  .example-form-item {
    .ant-form-item-required {
      white-space: normal;
      word-break: break-all;
    }
  }
}


.form {
  padding: 20px 90px;
  border: 1px solid #eeeeee;
  //min-height: 200px;
  .item {
    width: 30%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  // margin-left: 10px;
  align-items: center;
  //justify-content: center;

}

.help {
  margin-left: 10px;
}


