.rightCornerButton {
  float: right;
}

.dataChooseButton {

}

.descriptions {
  margin-left: 100px;
  display: inline-flex;
  margin-bottom: 50px;
}

.descriptions_section {
  width: 20% ;
}

.nameInput {
  width: 150px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #108ee9;
}
