.cbtn {
  position: fixed;
  right: 30px;
  width: 56px;
  z-index: 999;
  top: 2px;
  display: flex;
}
.notebook_joyride{
  :global{
    .joyride-tooltip{
      padding: 15px 8px;
    }
    .joyride-tooltip__main{
      font-size: 13px;
      //padding-bottom: 1px;
      //padding-right: 1px;
    }

  }
}
