
.normal {
  font-family: Georgia, sans-serif;
  /*margin-top: 3em;*/
  text-align: center;

  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  display: flex;
  height: 500px;
  /*width: 80%;*/
  border-style: double;
  flex-direction: row;

}

/*.main {*/
  /*padding: 0 8px;*/
  /*flex: 1 0 auto;*/
/*}*/

.box1 {
  /*flex: 1;*/
  display: flex;
  width: 20%;
  border-style: double;
  flex-direction: column;
}

.left_column {
  display: flex;
  width: 100px;
  border-style: double;
}

.box2 {
  flex: 1;
  display: flex;

  border-style: double;
}

.box3 {
  /*flex: 1;*/
  display: flex;
  width: 35%;
  border-style: double;
}
