
.normal {
  //width: 100%;

  .header {
    margin-bottom: 20px;
    .select {
      width: 140px;
      margin-right: 20px;
    }
  }

  .steps {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rightButton {
    float: right;
  }

  .requestList {
    margin: 0 0;

    .card {
    }

    .title {
      color: #005999;
      font-size: 22px;
      margin: 5px 0 5px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      cursor: pointer;
    }

    .description {
      font-size: 18px;
      margin: 0 0 0 1px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .starAnswerDiv {
      display: flex;
    }

    .starDiv {
      width: 50%;
      //height: 138px;
      cursor: pointer;
    }
    .starNumber {
      font-size: 22px;
      text-align: center;
      margin-bottom: 0;
    }
    .starText {
      font-size: 14px;
      text-align: center;
    }
    .tags {
      font-size: 16px;
      float: left;
      color:#2db7f5;
      cursor: default;
    }
    .showTime {
      text-align: right;
      float: right;
      font-size: 14px;
      cursor: default;
    }

    .user_ID {
      text-align: right;
      float: right;
      font-size: 14px;
      cursor: pointer;
      color: #005999;
    }

    .timeAndUserDiv {

    }
  }
}

.pagination {
  padding: 15px 0 0 0;
}
