@import '../../../variables.css';

:global {
  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .serving-container {
    background: #fff;
    margin: -16px 0;
    padding: 16px;

    .code-tabs {
      width: 800px;
    }
    .inline-code-container {
      margin: 0 5px;
      display: inline;
    }
    .code-container {
      max-width: 800px;
      border-radius: 4px;
      line-height: 180%;
      font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    }

  }
}
