@import "../../index";

.container {
  background-color: #464E78;
  #center;

  .box {
    background-color: #464E78;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1170px;

    .normal {
      background-color: #464E78;
      display: flex;
      align-items: center;
      .logoItem {
        width: 2.5em;
        #center;
      }
      .logo {
        width: 2.5em;
        height: 2.5em;
      }
    }
  }

}
