@import "../../index";

.LaunchPage{
    padding: 70px 0;
    background: #282E33;
    position: relative;
    margin-bottom: 40px;
    .LaunchPage_Content{
        width: 960px;
        margin:0 auto;
    }
    .title{
        margin-bottom: 19px;
        p{
            //font-family: SFProDisplay-Medium;
            font-size: 54px;
            color: #FFFFFF;
            text-align: center;
        }
    }
    .subhead{
        p{
            //font-family: SFProDisplay-Light;
            font-size: 22px;
            color: #CECECE;
            text-align: center;
        }
    }
    ul{
        display: flex;
        justify-content:space-between;
        margin-top: 44px;
        li{
            list-style: none;
            width:230px;
            ol{
                height: 60px;
                width: 140px;
                margin: 0 auto;
            }
            >div{
                width: 140px;
                height: 140px;
                border-radius: 140px;
                background: #464E78;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0 auto;
                img{
                    width:76px;
                    height: 76px;
                }
            }
            p{
                //font-family: SFProDisplay-Semibold;
                font-size: 24px;
                color: #FFFFFF;
                text-align: center;
                margin-top: 23px;
            }
            article{
                margin-top: 17px;
                //font-family: SFProDisplay-Regular;
                font-size: 16px;
                color: #CECECE;
                line-height: 32px;
                span{
                    color: #34BFE2;
                    cursor: pointer;
                }
            }
        }
    }
    .help{
        margin: 0 auto;
        text-align: center;
        button{
            width: 150px;
            height: 36px;
            background: #34C0E2;
            border-radius: 4px;
            font-size: 14px;
            border: 0;
            color:#ffffff;
            cursor: pointer;
        }
    }
    // .close{
    //     width: 117px;
    //     height: 40px;
    //     position: absolute;
    //     bottom: -40px;
    //     left: 50%;
    //     margin-left: -59px;
    //     background: #191D21;
    //     border-radius: 0 0 10px 10px;
    //     color: #CECECE;
    //     text-align: center;
    //     line-height: 40px;
    //     cursor: pointer;
    // }
}
