.whole {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 42px 49px;
  height: 783px;
}

.head {

  font-size: 20px;
  font-weight: 500;
  margin-bottom: 53px;

  display: flex;
}

.formItem {
  font-size: 13px;
}
