
html, body, :global(#root) {
  height: 100%;
  //width: 100%;




}

// color
@custom-grey: #F5F5F5;
@custom-light-grey: #FBFBFB;
@custom-blue: #464E78;
@custom-light-blue: #34C0E2;


//
#center {
  display: flex;
  justify-content: center;
  align-items: center;

}

//#column{
//  background-color: red;
//}
