
.sel {
  width: 120px;
  margin-right: 20px;
}

.center {
  flex: 1;
}

.searchbar {
  width: 240px;
}

.selbar {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.mycard {
  display: flex;
  height: 200px;
  border-style: double;
}


