@import "../../../../../index";

@paddingLR: 21px;

.normal {
}

.container {
  /*flex: 1;*/
  //background-color: white;
  display: flex;
  width: 220px;
  flex-direction: column;
  background-color: white;
}

.first_row {
  height: 77px;
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
  padding: 2px @paddingLR 2px @paddingLR;

}

.add_row {
  height: 71px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 2px @paddingLR 2px @paddingLR;
  background-color: #F1F8FF;
}

.list {
  height: 800px;
  overflow: scroll;
}

.row {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  padding: 10px;
}

.sectionRow {
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  .nameInput {
    border: none;
    border-radius: 0;
    font-size: 15px;
  }
}

.status-g {
  line-height: 12px;
  float: right;
  font-size: 12px;
}

.ready {
  //line-height: 18px;
  .status-g;
  color: @custom-grey;
}

.running {
  //line-height: 18px;
  .status-g;
  color: @green;
}

.completed {
  .status-g;
  color: @custom-orange;
}

.error {
  .status-g;
  color: @red;
}

.time {
  display: inline;
  font-size: 11px;
  vertical-align:middle;

  .light {
    float: right;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: @custom-grey;
  }
}

.left_column {
  display: flex;
  width: 40px;
  height: 180px;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  background-color: white;
  //border-style: double;
}

.text_reverse {
  //align-self: stretch;
  //direction: rtl;
  //unicode-bidi: bidi-override;
  //display: flex;
  //flex-direction: column;
  width: 60px;
  transform: rotate(270deg)
}
